.nav-bar {
  background-color: #333333;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  &:hover {
    background-color: #111111;
  }
}

.nav-link {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  text-align: center;
}
